.bg-pattern {
    /* background-image: url(../images/pattern.jpg); */
    background-size: 100%;
}

.box-container {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 900px;
    margin: 30px auto;  
    padding: 40px;
    border-radius: 10px;
    height: 500px;
}

.quote{
    text-align: left;
    padding: 10px 15px;
    margin: 15px;
}

.text-center{
    text-align: center;
}

.logo {
    width: 100px;
}

.fredoka-one{
    font-family: 'Fredoka One', cursive;
}

#question {
    font-size: 16px;
}

#answer {
    width: 800px;
    padding:10px;
    border-radius: 10px;
}

#btnAnswer {
    border-radius: 10px;
    padding: 10px 15px;
    margin: 15px;
    border-color: transparent;   
}

#btnAnswer:hover{
    background-color: aliceblue;
}

#btnAnotherQuestion {
    border-radius: 10px;
    padding: 10px 15px;
    margin: 15px;
    border-color: blue;   
    background-color: blue;
    color: white;
}

#btnAnotherQuestion:hover{
    background-color: red;
}

#list{
    padding: 0;
}

#list li{ 
    width: 200px;
    margin: 10px auto;
    padding-bottom: 10px;
    list-style-type: none;
}

#list li:not(:last-child){
    border-bottom: 1px solid black;
}